h1 {
 text-align: center;
}
logo {
  border-style: solid;
  border-width: 5px;
}
headerPadding {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
centerText {
 text-align: center;
}
